## 读写不同数据源的数据

In [58]:
import pandas as pd

In [59]:
# 读取文本数据
data_txt = pd.read_csv('C:/Users/VICTUS/OneDrive - stu.fynu.edu.cn/python数据分析与应用ZM/data/meal_order_info.txt', sep=' ')  #这里有一个空格

data_csv = pd.read_csv('C:/Users/VICTUS/OneDrive - stu.fynu.edu.cn/python数据分析与应用ZM/data/meal_order_info.csv', encoding='GBK', header=0)

In [60]:
data_csv

,info_id,emp_id,number_consumers,mode,dining_table_id,dining_table_name,expenditure,dishes_count,accounts_payable,use_start_time,...,lock_time,cashier_id,pc_id,order_number,org_id,print_doc_bill_num,lock_table_info,order_status,phone,name
0,417,1442,4,NaN,1501,1022,165,5,165,2016/8/1 11:05:36,...,2016/8/1 11:11:46,NaN,NaN,NaN,330,NaN,NaN,1,18688880641,苗宇怡
1,301,1095,3,NaN,1430,1031,321,6,321,2016/8/1 11:15:57,...,2016/8/1 11:31:55,NaN,NaN,NaN,328,NaN,NaN,1,18688880174,赵颖
2,413,1147,6,NaN,1488,1009,854,15,854,2016/8/1 12:42:52,...,2016/8/1 12:54:37,NaN,NaN,NaN,330,NaN,NaN,1,18688880276,徐毅凡
3,415,1166,4,NaN,1502,1023,466,10,466,2016/8/1 12:51:38,...,2016/8/1 13:08:20,NaN,NaN,NaN,330,NaN,NaN,1,18688880231,张大鹏
4,392,1094,10,NaN,1499,1020,704,24,704,2016/8/1 12:58:44,...,2016/8/1 13:07:16,NaN,NaN,NaN,330,NaN,NaN,1,18688880173,孙熙凯
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,641,1095,8,NaN,1492,1013,679,12,679,2016/8/31 21:23:48,...,2016/8/31 21:31:48,NaN,NaN,NaN,330,NaN,NaN,1,18688880307,李靖
941,672,1089,6,NaN,1489,1010,800,24,800,2016/8/31 21:24:12,...,2016/8/31 21:56:12,NaN,NaN,NaN,330,NaN,NaN,1,18688880305,莫言
942,692,1155,8,NaN,1492,1013,735,10,735,2016/8/31 21:25:18,...,2016/8/31 21:33:34,NaN,NaN,NaN,330,NaN,NaN,1,18688880327,习一冰
943,647,1094,4,NaN,1485,1006,262,9,262,2016/8/31 21:37:39,...,2016/8/31 21:55:39,NaN,NaN,NaN,330,NaN,NaN,1,18688880207,章春华
944,570,1113,8,NaN,1517,1038,589,13,589,2016/8/31 21:41:56,...,2016/8/31 21:32:56,NaN,NaN,NaN,330,NaN,NaN,1,18688880313,唐雅嘉

In [61]:
# 将数据框存储为文本文件数据
data_csv.to_csv('C:/Users/VICTUS/OneDrive - stu.fynu.edu.cn/python数据分析与应用ZM/tmp/data_csv.csv', index=None, encoding='gbk')

In [62]:
# 读取Excel文件
data_excel = pd.read_excel('C:/Users/VICTUS/OneDrive - stu.fynu.edu.cn/python数据分析与应用ZM/data/meal_order_detail.xlsx', sheet_name='meal_order_detail2')

In [63]:
data_excel.to_excel('C:/Users/VICTUS/OneDrive - stu.fynu.edu.cn/python数据分析与应用ZM/tmp/data_excel.xlsx', index=None, sheet_name='test1')

## 掌握DataFrame的常用操作

In [64]:
import pandas as pd

In [65]:
# Series系列
ser1 = pd.Series([1,2,'a'],index=['a','b','c'])
print(ser1)
ser2 = pd.Series({'a':[1,2,3],'b':['1','2','3']})
print(ser2)

a    1
b    2
c    a
dtype: object
a    [1, 2, 3]
b    [1, 2, 3]
dtype: object

In [66]:
# 构造数据框（DataFrame）
d=[[1.3,2.0,3,4],[2,4,1,4],[2,5,1.9,7],[3,1,0,11]]
print(d)
df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'], columns=['A', 'B', 'C', 'D'])
print(df)

d={'color':['blue','green','yellow','red','white'],
   'object':['ball','pen','pencil','paper','mug'],
   'price':[1.2,1.0,0.6,0.9,1.7]}
frame = pd.DataFrame(d,index=['a','b','c','d','e'])
print(frame)

print(pd.DataFrame(index=[1, 2], columns=[1, 2]))
print(pd.DataFrame(1, index=[1, 2], columns=[1, 2]))

[[1.3, 2.0, 3, 4], [2, 4, 1, 4], [2, 5, 1.9, 7], [3, 1, 0, 11]]
     A    B    C   D
a  1.3  2.0  3.0   4
b  2.0  4.0  1.0   4
c  2.0  5.0  1.9   7
d  3.0  1.0  0.0  11
    color  object  price
a    blue    ball    1.2
b   green     pen    1.0
c  yellow  pencil    0.6
d     red   paper    0.9
e   white     mug    1.7
     1    2
1  NaN  NaN
2  NaN  NaN
   1  2
1  1  1
2  1  1

In [67]:
# 数据框的常用属性
d=[[1.3,2.0,3,4],[2,4,1,4],[2,5,1.9,7],[3,1,0,11]]
df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'], columns=['A', 'B', 'C', 'D'])
print(df)
print(df.values)
print(df.index)
print(df.shape)
print(df.dtypes)

     A    B    C   D
a  1.3  2.0  3.0   4
b  2.0  4.0  1.0   4
c  2.0  5.0  1.9   7
d  3.0  1.0  0.0  11
[[ 1.3  2.   3.   4. ]
 [ 2.   4.   1.   4. ]
 [ 2.   5.   1.9  7. ]
 [ 3.   1.   0.  11. ]]
Index(['a', 'b', 'c', 'd'], dtype='object')
(4, 4)
A    float64
B    float64
C    float64
D      int64
dtype: object

### 数据框的查改增删操作

In [68]:
# 访问数据框中的元素
d=[[1.3,2.0,3,4],[2,4,1,4],[2,5,1.9,7],[3,1,0,11]]
df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'], columns=['A', 'B', 'C', 'D'])
print(df)

print(df['A'])         # 单列数据访问
print(df[['A', 'C']])  # 多列数据访问

print(df.head(3))     # 访问某几行数据
print(df.tail(3))

print(df.iloc[0, 0])    # 按照行列顺序进行数据访问
print(df.iloc[0:3, 0])
print(df.iloc[:, 0])
print(df.iloc[0, :])
print(df.iloc[1:3, 1:3])

print(df.loc['a', 'A'])   # 按照行列名称进行数据访问
print(df.loc['a':'c', 'A'])
print(df.loc[:, 'A'])
print(df.loc['a', :])
print(df.loc[['b','c'], ['B', 'C']])

# 注意如下方式返回值的区别
print(df.iloc[:, 0])
print(df.iloc[:, 0:1])

     A    B    C   D
a  1.3  2.0  3.0   4
b  2.0  4.0  1.0   4
c  2.0  5.0  1.9   7
d  3.0  1.0  0.0  11
a    1.3
b    2.0
c    2.0
d    3.0
Name: A, dtype: float64
     A    C
a  1.3  3.0
b  2.0  1.0
c  2.0  1.9
d  3.0  0.0
     A    B    C  D
a  1.3  2.0  3.0  4
b  2.0  4.0  1.0  4
c  2.0  5.0  1.9  7
     A    B    C   D
b  2.0  4.0  1.0   4
c  2.0  5.0  1.9   7
d  3.0  1.0  0.0  11
1.3
a    1.3
b    2.0
c    2.0
Name: A, dtype: float64
a    1.3
b    2.0
c    2.0
d    3.0
Name: A, dtype: float64
A    1.3
B    2.0
C    3.0
D    4.0
Name: a, dtype: float64
     B    C
b  4.0  1.0
c  5.0  1.9
1.3
a    1.3
b    2.0
c    2.0
Name: A, dtype: float64
a    1.3
b    2.0
c    2.0
d    3.0
Name: A, dtype: float64
A    1.3
B    2.0
C    3.0
D    4.0
Name: a, dtype: float64
     B    C
b  4.0  1.0
c  5.0  1.9
a    1.3
b    2.0
c    2.0
d    3.0
Name: A, dtype: float64
     A
a  1.3
b  2.0
c  2.0
d  3.0

In [69]:
# 修改数据框中的元素
d=[[1.3,2.0,3,4],[2,4,1,4],[2,5,1.9,7],[3,1,0,11]]
df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'], columns=['A', 'B', 'C', 'D'])
print(df)
df.loc['a', 'A'] = 101
df.loc[:, 'B'] = 0.25
df.loc[:, 'C'] = [1, 2, 3, 4]
print(df)

     A    B    C   D
a  1.3  2.0  3.0   4
b  2.0  4.0  1.0   4
c  2.0  5.0  1.9   7
d  3.0  1.0  0.0  11
       A     B  C   D
a  101.0  0.25  1   4
b    2.0  0.25  2   4
c    2.0  0.25  3   7
d    3.0  0.25  4  11

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_25392\2923878697.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, 'C'] = [1, 2, 3, 4]

In [70]:
# 为数据框增添数据
d=[[1.3,2.0,3,4],[2,4,1,4],[2,5,1.9,7],[3,1,0,11]]
df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'], columns=['A', 'B', 'C', 'D'])
print(df)
df['E'] = 5
df['F'] = [1, 2, 3, 4]
print(df)

     A    B    C   D
a  1.3  2.0  3.0   4
b  2.0  4.0  1.0   4
c  2.0  5.0  1.9   7
d  3.0  1.0  0.0  11
     A    B    C   D  E  F
a  1.3  2.0  3.0   4  5  1
b  2.0  4.0  1.0   4  5  2
c  2.0  5.0  1.9   7  5  3
d  3.0  1.0  0.0  11  5  4

In [71]:
# 删除数据框中的元素
d=[[1.3,2.0,3,4],[2,4,1,4],[2,5,1.9,7],[3,1,0,11]]
df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'], columns=['A', 'B', 'C', 'D'])
print(df)
print(df.drop('D', axis=1, inplace=False))   # 删除数据框的列元素
print(df.drop(['a', 'c'], axis=0))            # 输出数据框的行元素

     A    B    C   D
a  1.3  2.0  3.0   4
b  2.0  4.0  1.0   4
c  2.0  5.0  1.9   7
d  3.0  1.0  0.0  11
     A    B    C
a  1.3  2.0  3.0
b  2.0  4.0  1.0
c  2.0  5.0  1.9
d  3.0  1.0  0.0
     A    B    C   D
b  2.0  4.0  1.0   4
d  3.0  1.0  0.0  11

### 描述分析DataFrame数据

In [72]:
import numpy as np
d=[[1.3,2.0,3,4],[2,4,1,4],[2,5,1.9,7],[3,1,0,11]]
df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'], columns=['A', 'B', 'C', 'D'])
print(df)
print(np.mean(df, axis=1))
df.mean(axis=1)
df.std()
df.describe()

df['A'].value_counts()

     A    B    C   D
a  1.3  2.0  3.0   4
b  2.0  4.0  1.0   4
c  2.0  5.0  1.9   7
d  3.0  1.0  0.0  11
a    2.575
b    2.750
c    3.975
d    3.750
dtype: float64

2.0    2
1.3    1
3.0    1
Name: A, dtype: int64

## 转换与处理时间序列数据

In [73]:
import pandas as pd

In [74]:
order = pd.read_csv('C:/Users/VICTUS/OneDrive - stu.fynu.edu.cn/python数据分析与应用ZM/data/meal_order_info.csv', encoding='gbk')
# print(order)
print(order['lock_time'].dtypes)
order['lock_time'] = pd.to_datetime(order['lock_time'])
print(order['lock_time'].dtypes)

object
datetime64[ns]

In [75]:
print(pd.DatetimeIndex(order['lock_time']))
print(pd.PeriodIndex(order['lock_time'], freq='H'))

DatetimeIndex(['2016-08-01 11:11:46', '2016-08-01 11:31:55',
               '2016-08-01 12:54:37', '2016-08-01 13:08:20',
               '2016-08-01 13:07:16', '2016-08-01 13:23:42',
               '2016-08-01 13:34:18', '2016-08-01 13:50:16',
               '2016-08-01 17:18:20', '2016-08-01 17:44:27',
               ...
               '2016-08-31 18:18:31', '2016-08-31 18:42:42',
               '2016-08-31 18:57:56', '2016-08-31 19:19:31',
               '2016-08-31 20:39:13', '2016-08-31 21:31:48',
               '2016-08-31 21:56:12', '2016-08-31 21:33:34',
               '2016-08-31 21:55:39', '2016-08-31 21:32:56'],
              dtype='datetime64[ns]', name='lock_time', length=945, freq=None)
PeriodIndex(['2016-08-01 11:00', '2016-08-01 11:00', '2016-08-01 12:00',
             '2016-08-01 13:00', '2016-08-01 13:00', '2016-08-01 13:00',
             '2016-08-01 13:00', '2016-08-01 13:00', '2016-08-01 17:00',
             '2016-08-01 17:00',
             ...
             '2016-08-31 18:00', '2016-08-31 18:00', '2016-08-31 18:00',
             '2016-08-31 19:00', '2016-08-31 20:00', '2016-08-31 21:00',
             '2016-08-31 21:00', '2016-08-31 21:00', '2016-08-31 21:00',
             '2016-08-31 21:00'],
            dtype='period[H]', name='lock_time', length=945)

In [76]:
order['lock_time']

0     2016-08-01 11:11:46
1     2016-08-01 11:31:55
2     2016-08-01 12:54:37
3     2016-08-01 13:08:20
4     2016-08-01 13:07:16
              ...
940   2016-08-31 21:31:48
941   2016-08-31 21:56:12
942   2016-08-31 21:33:34
943   2016-08-31 21:55:39
944   2016-08-31 21:32:56
Name: lock_time, Length: 945, dtype: datetime64[ns]

In [77]:
print(order['lock_time'][0].year)      # 获取数据年份信息
print(order['lock_time'].dt.year)      # 获取数据年份信息
print(order['lock_time'].dt.month)     # 获取数据月份信息
print(order['lock_time'].dt.week)      # 获取数据周次信息

2016
0      2016.0
1      2016.0
2      2016.0
3      2016.0
4      2016.0
        ...
940    2016.0
941    2016.0
942    2016.0
943    2016.0
944    2016.0
Name: lock_time, Length: 945, dtype: float64
0      8.0
1      8.0
2      8.0
3      8.0
4      8.0
      ...
940    8.0
941    8.0
942    8.0
943    8.0
944    8.0
Name: lock_time, Length: 945, dtype: float64
0      31.0
1      31.0
2      31.0
3      31.0
4      31.0
       ...
940    35.0
941    35.0
942    35.0
943    35.0
944    35.0
Name: lock_time, Length: 945, dtype: float64

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_25392\2112048592.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  print(order['lock_time'].dt.week)      # 获取数据周次信息

In [78]:
print(order['lock_time'] + pd.Timedelta(days=1))       # 时间平移
print(order['lock_time'][1] - order['lock_time'][0])   # 求时间差别

0     2016-08-02 11:11:46
1     2016-08-02 11:31:55
2     2016-08-02 12:54:37
3     2016-08-02 13:08:20
4     2016-08-02 13:07:16
              ...
940   2016-09-01 21:31:48
941   2016-09-01 21:56:12
942   2016-09-01 21:33:34
943   2016-09-01 21:55:39
944   2016-09-01 21:32:56
Name: lock_time, Length: 945, dtype: datetime64[ns]
0 days 00:20:09

## 使用分组聚合进行组内计算

In [79]:
import pandas as pd

In [80]:
detail = pd.read_excel('C:/Users/VICTUS/OneDrive - stu.fynu.edu.cn/python数据分析与应用ZM/data/meal_order_detail.xlsx')
detail.head()

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
0,2956,417,610062,NaN,NaN,蒜蓉生蚝,0,1,49,NaN,2016-08-01 11:05:36,NaN,NaN,NaN,0,NaN,NaN,caipu/104001.jpg,1442
1,2958,417,609957,NaN,NaN,蒙古烤羊腿_x000D_\n_x000D_\n_x000D_\n,0,1,48,NaN,2016-08-01 11:07:07,NaN,NaN,NaN,0,NaN,NaN,caipu/202003.jpg,1442
2,2961,417,609950,NaN,NaN,大蒜苋菜,0,1,30,NaN,2016-08-01 11:07:40,NaN,NaN,NaN,0,NaN,NaN,caipu/303001.jpg,1442
3,2966,417,610038,NaN,NaN,芝麻烤紫菜,0,1,25,NaN,2016-08-01 11:11:11,NaN,NaN,NaN,0,NaN,NaN,caipu/105002.jpg,1442
4,2968,417,610003,NaN,NaN,蒜香包,0,1,13,NaN,2016-08-01 11:11:30,NaN,NaN,NaN,0,NaN,NaN,caipu/503002.jpg,1442

In [81]:
detail_group = detail[['order_id', 'counts', 'amounts']].groupby(by='order_id')    # 分组操作

In [82]:
detail_group.agg('mean').head(3)    # 对分组数据的所有列都执行mean操作

            counts    amounts
order_id
137       1.500000  32.333333
165       1.166667  52.944444
166       1.400000  48.200000

In [83]:
detail_group.agg(['mean', 'sum']).head(3)   # 对分组数据的所有列都执行mean和sum操作

            counts        amounts
              mean sum       mean  sum
order_id
137       1.500000   9  32.333333  194
165       1.166667  21  52.944444  953
166       1.400000   7  48.200000  241

In [84]:
detail_group.agg({'counts': ['mean', np.max], 'amounts': 'std'}).head(3)   # 对分组数据的不同列执行不同操作

            counts         amounts
              mean amax        std
order_id
137       1.500000    4  35.200379
165       1.166667    2  52.193613
166       1.400000    2  41.829415

In [85]:
detail_group.agg({'counts': lambda x: sum(x)**2}).head(3)   # 将自定义函数放入聚合操作中

          counts
order_id
137           81
165          441
166           49

## 创建透视表与交叉表

In [86]:
import pandas as pd
detail = pd.read_excel('C:/Users/VICTUS/OneDrive - stu.fynu.edu.cn/python数据分析与应用ZM/data/meal_order_detail.xlsx')
detail.head()

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
0,2956,417,610062,NaN,NaN,蒜蓉生蚝,0,1,49,NaN,2016-08-01 11:05:36,NaN,NaN,NaN,0,NaN,NaN,caipu/104001.jpg,1442
1,2958,417,609957,NaN,NaN,蒙古烤羊腿_x000D_\n_x000D_\n_x000D_\n,0,1,48,NaN,2016-08-01 11:07:07,NaN,NaN,NaN,0,NaN,NaN,caipu/202003.jpg,1442
2,2961,417,609950,NaN,NaN,大蒜苋菜,0,1,30,NaN,2016-08-01 11:07:40,NaN,NaN,NaN,0,NaN,NaN,caipu/303001.jpg,1442
3,2966,417,610038,NaN,NaN,芝麻烤紫菜,0,1,25,NaN,2016-08-01 11:11:11,NaN,NaN,NaN,0,NaN,NaN,caipu/105002.jpg,1442
4,2968,417,610003,NaN,NaN,蒜香包,0,1,13,NaN,2016-08-01 11:11:30,NaN,NaN,NaN,0,NaN,NaN,caipu/503002.jpg,1442

In [87]:
pd.pivot_table(detail[['order_id', 'counts', 'amounts']], index='order_id', aggfunc='sum').head(3)

          amounts  counts
order_id
137           194       9
165           953      21
166           241       7

In [88]:
pd.pivot_table(detail[['order_id', 'dishes_name', 'counts']], index='order_id', columns='dishes_name',aggfunc='sum').head(3)
pd.pivot_table(detail[['order_id', 'dishes_name', 'counts']], index='order_id', columns='dishes_name',values='counts', fill_value=0).head()

dishes_name,42度海之蓝,北冰洋汽水,38度剑南春,50度古井贡酒,52度泸州老窖,53度茅台,一品香酥藕,三丝鳝鱼,三色凉拌手撕兔,不加一滴油的酸奶蛋糕,...,香辣腐乳炒虾,香酥两吃大虾,鱼香肉丝拌面,鲜美鳝鱼,鸡蛋、肉末肠粉,麻辣小龙虾,黄尾袋鼠西拉子红葡萄酒,黄油曲奇饼干,黄花菜炒木耳,黑米恋上葡萄
order_id,,,,,,,,,,,,,,,,,,,,,
137,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
165,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
166,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
171,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
pd.crosstab(index=detail['order_id'], columns=detail['dishes_name']).head(3)

dishes_name,42度海之蓝,北冰洋汽水,38度剑南春,50度古井贡酒,52度泸州老窖,53度茅台,一品香酥藕,三丝鳝鱼,三色凉拌手撕兔,不加一滴油的酸奶蛋糕,...,香辣腐乳炒虾,香酥两吃大虾,鱼香肉丝拌面,鲜美鳝鱼,鸡蛋、肉末肠粉,麻辣小龙虾,黄尾袋鼠西拉子红葡萄酒,黄油曲奇饼干,黄花菜炒木耳,黑米恋上葡萄
order_id,,,,,,,,,,,,,,,,,,,,,
137,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
165,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
166,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [90]:
pd.crosstab(index=detail['order_id'], columns=detail['dishes_name'], values=detail['counts'], aggfunc='sum').fillna(0).head(3)

dishes_name,42度海之蓝,北冰洋汽水,38度剑南春,50度古井贡酒,52度泸州老窖,53度茅台,一品香酥藕,三丝鳝鱼,三色凉拌手撕兔,不加一滴油的酸奶蛋糕,...,香辣腐乳炒虾,香酥两吃大虾,鱼香肉丝拌面,鲜美鳝鱼,鸡蛋、肉末肠粉,麻辣小龙虾,黄尾袋鼠西拉子红葡萄酒,黄油曲奇饼干,黄花菜炒木耳,黑米恋上葡萄
order_id,,,,,,,,,,,,,,,,,,,,,
137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
165,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0